<template>
  <div>
    <div class="row">
      <div class="col pb-3 d-flex">
        <h3>{{ group.name }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-header">Group Information</div>
          <div class="card-body">
            <p><strong>ID</strong>: {{ group.id }}</p>
            <p><strong>Direct Member Count</strong>: {{ group.directMembersCount }}</p>
            <p><strong>Description</strong>: {{ group.description }}</p>
          </div>
        </div>
      </div>
      <div class="col-6 mb-3">
        <div class="card">
          <div class="card-header">Group Settings</div>
          <div class="card-body">
            <p><strong>Collaborative Inbox</strong>: {{ group.settings.enableCollaborativeInbox === "true" ? "yes" : "no" }}</p>
            <p><strong>Archived</strong>: {{ group.settings.isArchived === "true" ? "yes" : "no" }}</p>
            <p><strong>Who can add</strong>: {{ group.settings.whoCanAdd }}</p>
            <p><strong>Who can join</strong>: {{ group.settings.whoCanJoin }}</p>
            <p><strong>Who can post</strong>: {{ group.settings.whoCanPostMessage }}</p>
            <p><strong>Who can add</strong>: {{ group.settings.whoCanAdd }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex">
        <a
          :href="group.gstUrl"
          class="btn btn-sm btn-info mr-2"
        >
          <i class="fas fa-list"></i>
          More Information
        </a>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          data-toggle="modal"
          data-target="#raw"
        >
          <i class="fas fa-code"></i>
          Raw Group Object
        </button>
      </div>
    </div>
    <modal id="raw">
      <h5 slot="header">Raw Group Object</h5>
      <pre slot="body">{{ group }}</pre>
    </modal>
  </div>
</template>
<script>
export default {
  props: ["group"]
};
</script>
