<template>
  <div>
    <div class="row">
      <div class="col pb-3 d-flex">
        <h3>{{ user.name.fullName }}</h3>
        <div>
          <span
            v-if="user.suspended"
            class=" ml-3 mt-2 badge badge-danger"
          ><i class="fas fa-lock"></i> suspended</span>
        </div>
        <div>
          <span
            v-if="user.isAdmin"
            class=" ml-3 mt-2 badge badge-info"
          ><i class="fas fa-star"></i> admin</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 pb-3">
        <div class="card">
          <div class="card-header">User Information</div>
          <div class="card-body">
            <p><strong>ID</strong>: {{ user.id }}</p>
            <p><strong>Primary email</strong>: {{ user.primaryEmail }}</p>
            <p><strong>Created At</strong>: {{ user.creationTime }}</p>
            <p><strong>Last Login</strong>: {{ user.lastLoginTime }}</p>
            <p v-if="user.suspended"><strong>Suspension Reason</strong>: {{ user.suspensionReason }}</p>
          </div>
        </div>
      </div>
      <div class="col-6 pb-3">
        <div class="card">
          <div class="card-header">Aliases</div>
          <div class="card-body">
            <ul>
              <li
                v-for="alias in user.aliases"
                :key="alias"
              >{{ alias }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6 pb-3">
        <div class="card">
          <div class="card-header">Organization</div>
          <div class="card-body">
            <p><strong>Organizational Unit (OU)</strong>: {{ user.orgUnitPath }}</p>
            <span v-if="user.organizations !== null">
              <p><strong>Department(s)</strong></p>
              <ul>
                <li
                  v-for="organization in user.organizations"
                  :key="organization.department"
                >{{ organization.department }}</li>
              </ul>
            </span>
            <span v-if="user.relations !== null">
              <p><strong>Relations</strong></p>
              <ul>
                <li
                  v-for="relation in user.relations"
                  :key="relation.value"
                >{{ relation.value }} ({{ relation.type }})</li>
              </ul>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex">
        <a
          :href="user.gstUrl"
          class="btn btn-sm btn-info mr-2"
        >
          <i class="fas fa-list"></i>
          More Information
        </a>
        <button
          type="button"
          class="btn btn-sm btn-secondary"
          data-toggle="modal"
          data-target="#raw"
        >
          <i class="fas fa-code"></i>
          Raw User Object
        </button>
      </div>
    </div>
    <modal id="raw">
      <h5 slot="header">Raw User Object</h5>
      <pre slot="body">{{ user }}</pre>
    </modal>
  </div>
</template>
<script>
export default {
  props: ["user"]
};
</script>
